@model eLibrary.Entities.Models.Book

@{
	ViewBag.Title = Model.Title;
	Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="card">
	<h4 class="card-header"> Book Details </h4>
	<div class="card-body">
		<table>
			<tr>
				<td class="w-25">
					<img class="img-responsive img-thumbnail rounded" src="@Url.Action("Book", "Images", new { id = Model.Id })" alt="">
				</td>
				<td>&nbsp;</td>
				<td>&nbsp;</td>
				<td>&nbsp;</td>
				<td style="vertical-align: top; text-align: left">
					<ul class="list-group list-group-flush">
						<li class="list-group-item"><b> Title: </b> @Model.Title </li>
						@if (Model.Author != null)
						{
							<li class="list-group-item">
								<b> Author: </b>
								@Model.Author
							</li>
						}
						@if (Model.PublishDate != null)
						{
							<li class="list-group-item">
								<b> Publish Date: </b>
								@Model.PublishDate
							</li>
						}
						@if (Model.Description != null)
						{
							<li class="list-group-item">
								<b> Description: </b>
								@Model.Description
							</li>
						}
						<li class="list-group-item"><b> Category: </b> @Model.Category.Name </li>
						<li class="list-group-item"><b> Book type: </b> @Model.Type </li>
						@if (Model.Location != null)
						{
							<li class="list-group-item">
								<b> Location: </b>
								@Model.Location
							</li>
						}
						@if (Model.Type == "e-book")
						{
							<li class="list-group-item">
								<b> Download book: </b>
								@if (Model.PdfFile == null)
								{
									<span> PDF not available. </span>
								}
								else
								{
									<a href="" target="_blank" onclick="window.open('@Url.Action("Pdf", "Pdfs", new { id = Model.Id })')"> Click here </a>
								}
							</li>
						}
					</ul>
				</td>
			</tr>
		</table>
		<a asp-action="Index" asp-controller="Books" class="btn btn-outline-dark" id="previous-page"> Go Back </a>
	</div>
</div>