@model eLibrary.Services.Dto.BookDetailsDto
@using eLibrary.Entities.Models

@{
	ViewBag.Title = Model.Title;
	Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="card">
	<h4 class="card-header"> Book Details </h4>
	<div class="card-body">
		<table>
			<tr>
				<td class="w-25">
					<img class="img-responsive img-thumbnail rounded" src="@Url.Action("Book", "Images", new { id = Model.BookId })" alt="">
				</td>
				<td>&nbsp;</td>
				<td>&nbsp;</td>
				<td>&nbsp;</td>
				<td style="vertical-align: top; text-align: left">
					<ul class="list-group list-group-flush">
						<li class="list-group-item"><b> Title: </b> @Model.Title </li>
						@if (Model.Author != null)
						{
							<li class="list-group-item">
								<b> Author: </b>
								@Model.Author
							</li>
						}
						@if (Model.PublishDate != null)
						{
							<li class="list-group-item">
								<b> Publish Date: </b>
								@Model.PublishDate
							</li>
						}
						@if (Model.Description != null)
						{
							<li class="list-group-item">
								<b> Description: </b>
								@Model.Description
							</li>
						}
						<li class="list-group-item"><b> Category: </b> @Model.Category.Name </li>
						<li class="list-group-item"><b> Book type: </b> @Model.BookType.GetDisplayName() </li>
						@if (Model.Location != null)
						{
							<li class="list-group-item">
								<b> Location: </b>
								@Model.Location
							</li>
						}
						@if (Model.BookType == BookTypes.EBook)
						{
							<li class="list-group-item">
								<b> Download book: </b>
								<a href="" target="_blank" onclick="window.open('@Url.Action("Pdf", "Pdfs", new { id = Model.BookId })')"> Click here </a>
							</li>
						}
						else if (Model.BookType == BookTypes.HardCopy)
						{
							if (Model.Availability)
							{
								<li class="list-group-item">
									<button data-id="@Model.BookId" class="btn btn-primary" id="check-out"> Check out</button>
								</li>
							}
							else
							{
								<li class="list-group-item" id="checked-out">
									<b> Checked out by: </b>
									@Model.BorrowedBook.Username
								</li>
								<li class="list-group-item" id="checked-out">
									<b> From date: </b>
									@Model.BorrowedBook.DateBorrowed
								</li>

								<li class="list-group-item" id="checked-out">
									<b> To date: </b>
									@Model.BorrowedBook.DateReturned
								</li>
							}
						}
					</ul>
				</td>
			</tr>
		</table>
		<a asp-action="Index" asp-controller="Books" class="btn btn-outline-dark" id="previous-page"> Go Back </a>
	</div>
</div>

@section Scripts{
	<script>
		$(document).ready(function () {
			$("#check-out").on("click", function () {
				var button = $(this);
				$.ajax({
					url: "/api/borrowed/" + button.attr("data-id"),
					method: "POST",
					success: function (data) {
						console.log("success");
					}
				});
			});
		});

	</script>
}